[Unit]
Description=ORBIT uWSGI
After=syslog.target

[Service]
User=orbit
WorkingDirectory=/home/orbit/orbit_webapp
RuntimeDirectory=uwsgi
EnvironmentFile=/home/orbit/orbit_webapp/.env

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

ExecStart=/usr/sbin/uwsgi --ini /etc/uwsgi/apps-available/smcse-orbit00.ini

[Install]
WantedBy=multi-user.target