{% extends "phaseone/form.html" %}
{% block title %}Background survey{% endblock %}
{% block pre_form_sections %}
    <section>
        <header aria-hidden="true">This page<span aria-hidden="true"></span></header>
        <div>
            <h2>Background Survey</h2>
            <p>When explaining our study results, we will need to summarise our participant group, such as age range and visual impairments. Plus, knowing a bit more about your use of your iOS device will inform our thinking.</p>
            <p>We ask you to complete the following background questionnaire.</p>
        </div>
    </section>
{% endblock %}