<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Project Name{% endblock %} – ORBIT</title>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/orbit.css">
</head>

<body>
    <section>
        <header aria-hidden="true"><img src="/static/city-uol-logo-responsive.svg" alt="Logo for ***REMOVED***"></header>
        <div>
            <h1>ORBIT Dataset Phase 1 study Project Name</h1>
            <p>Principal investigator: ***REMOVED***<br>
               REC reference number: ***REMOVED***<br>
               ***REMOVED***</p>
        </div>
    </section>
    {% block sections %}{% endblock %}
</body>
</html>
