<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Object Recognition for Blind Image Training{% endblock %} – ORBIT</title>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/orbit.css">
</head>

<body>
    <section>
        <header aria-hidden="true"><img src="/static/city-uol-logo-responsive.svg" alt="Logo for City, University of London"></header>
        <div>
            <h1>ORBIT Dataset Phase 1 study (metalearning for personalised object recognition aimed at visually impaired people)</h1>
            <p>Principal investigator: Dr Simone Stumpf<br>
               REC reference number: ETH1920-1126<br>
               City, University of London</p>
        </div>
    </section>
    {% block sections %}{% endblock %}
</body>
</html>
