<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Project Name{% endblock %} – ORBIT</title>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/orbit.css">
</head>

<body>
    <section>
        <header><h3>The Study<span aria-hidden="true"></span></h3></header>
        <div>
            <h2>Project Name</h2>
            <p>Principal investigator: ***REMOVED***<br>
               REC reference number: ***REMOVED***<br>
               ***REMOVED***</p>
        </div>
    </section>
    {% block sections %}{% endblock %}
</body>
</html>
