{% extends "pilot/form.html" %}
{% block title %}Informed consent{% endblock %}
{% block pre_form_sections %}
    <section>
        <header aria-hidden="true">This page<span aria-hidden="true"></span></header>
        <div>
            <h2>Informed consent</h2>
            <p>To participate in the study we ask you to read and tick the first seven statements and then decide if you want to tick any the three statements in the publishing section. After doing this you have to sign this consent form by entering your name at the end and submitting it to us.</p>
        </div>
    </section>
{% endblock %}