{% extends "pilot/base.html" %}
{% block title %}Participant Information{% endblock %}
{% block sections %}
    {% block pre_form_sections %}{% endblock %}
    <section>
        <form method="post">
        {{ csrf_input }}
        {% if form.non_field_errors %}{{ form.non_field_errors() }}{% endif %}
        {% for fieldset in form.fieldsets %}
            {% if fieldset.legend %}
            <header>{{ fieldset.legend }}</header>
            {% endif %}
            <section>
                {% if fieldset.description %}
                <p class="description">{{ fieldset.description }}</p>
                {% endif %}
                <ul>
                {% for field in fieldset %}
                {% if field.is_hidden %}
                  {{ field }}
                {% else %}
                  <li{{ field.row_attrs }}>
                    {{ field.errors }}
                    {{ field }}
                    {% if field.label %}{{ field.label_tag(label_suffix='') }}{% endif %}
                  </li>
                {% endif %}
                {% endfor %}
                </ul>
            </section>
        {% endfor %}
            <header>Thanks!</header>
            <section>
                <input type="submit" value="Submit">
            </section>
        </form>
    </section>
{% endblock %}