{% extends "pilot/base.html" %}
{% block title %}Participant Information{% endblock %}
{% block sections %}
    {% block pre_form_sections %}{% endblock %}
    <form method="post">
    {{ csrf_input }}
    {% if form.has_error(NON_FIELD_ERRORS) %}
    <section>
        <header>Please correct</header>
        <div>
        {{ form.non_field_errors() }}
        </div>
    </section>
    {% endif %}
    {% for fieldset in form.fieldsets %}
    <section>
        {% if fieldset.legend %}
        <header>{{ fieldset.legend }}</header>
        {% endif %}
        <div>
            {% if fieldset.description %}
            <p class="description">{{ fieldset.description }}</p>
            {% endif %}
            <ul>
            {% for field in fieldset %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
              <li{{ field.row_attrs }}>
                {% if field.errors %}
                {{ field.errors }}
                {% endif %}
                {{ field | replace("\n", "\n                ") | safe }}
                {% if field.label %}
                {{ field.label_tag(label_suffix='') }}
                {% endif %}
              </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </section>
    {% endfor %}
    <section>
        <header>Thanks!</header>
        <div>
            <input type="submit" value="Submit">
        </div>
    </section>
    </form>
{% endblock %}