{% extends "pilot/base.html" %}
{% block title %}Thanks{% endblock %}
{% block sections %}
    <section>
        <header><h3>This page<span aria-hidden="true"></span></h3></header>
        <div>
            <h1>Background Survey</h1>
            <p>When explaining our study results, we will need to summarise our participant group, such as age range and visual impairments. Plus, knowing a bit more about your use of your iPhone will inform our thinking – and allow us to make best use of our time visiting you.</p>
        </div>
    </section>
    <section>
        <header><h3>Thanks!<span aria-hidden="true"></span></h3></header>
        <div>
            <h2>We'll be in touch</h2>
            <p>Thanks for submitting your responses. We have your email address to contact you by. We'll be in touch to arrange the home visit.</p>
        </div>
    </section>
{% endblock %}