{% extends "pilot/form.html" %}
{% block title %}Background survey{% endblock %}
{% block pre_form_sections %}
    <section>
        <header>This page</header>
        <div>
            <h1>Background Survey</h1>
            <p>When explaining our study results, we will need to summarise our participant group, such as age range and visual impairments. Plus, knowing a bit more about your use of your iPhone will inform our thinking – and allow us to make best use of our time visiting you.</p>
            <p>We ask you to complete the following background questionnaire.</p>
        </div>
    </section>
{% endblock %}