<html>

<head>
    <meta charset="utf-8">
    <title>ORBIT – {% block title %}Object Recognition for Blind Image Training{% endblock %}</title>
</head>

<body>
    <header>
        <h1>The Study</h1>
        <h2>Pilot study for metalearning for personalised object recognition aimed at visually impaired people</h1>
        <ul>
            <li>Principal investigator: Dr Simone Stumpf</li>
            <li>REC reference number: ETH1920-0331</li>
            <li>City, University of London</li>
        </ul>
        
        {% block header %}{% endblock %}
    </header>
    {% block sections %}{% endblock %}
</body>
</html>
