{% extends "pilot/base.html" %}
{% block title %}Participant Information{% endblock %}
{% block header %}
    <h2>Background Survey</h2>
    <p>When explaining our study results, we will need to summarise our participant group, such as age range and visual impairments. Plus, knowing a bit more about your use of your iPhone will inform our thinking – and allow us to make best use of our time visiting you.</p>
    <p>We ask you to complete the following background questionnaire.</p>
{% endblock %}
{% block sections %}
    <section>
        {{ form }}
    </section>
{% endblock %}